<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CS 546 Project</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        #map{
           height: 400px;
           width: 100%; 
        }
    </style>
</head>
<body>
    <header>
    </header>
    <main>       
        <h1><a href="/landing"> ShareSpace</a></h1>
        <div id="links" class = "links">
            <a href="/homepage"> Homepage</a> |
            <a href="/users"> Users</a> |
            <a href="/profile"> My Profile</a> |
            <a href="/listing/add"> Add Listing</a> |
            <a href="/bookings"> Bookings</a>
        </div>
        <hr>
        {{{body}}}
    </main>
    <footer class="footer"> CS 546 Group 35</footer>
     <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>