<h1>Add Listings Page</h1>
<form action="/add" method="POST" id="add_listing_form">
<label for="listing_DescriptionInput">Description<input type="text" id="listing_DescriptionInput" name="listing_DescriptionInput"></label>
<br><br>
<label for="listing_AddressInput">Address<input type="address" id="listing_AddressInput" name="listing_AddressInput"></label>
<br><br>
<label for="listing_PriceInput">Price<input type="text" id="listing_PriceInput" name="listing_PriceInput"></label>
<br><br>
<label for="listing_LengthInput">Length<input type="text" id="listing_LengthInput" name="listing_LengthInput"></label>
<br><br>
<label for="listing_WidthInput">Width<input type="text" id="listing_WidthInput" name="listing_WidthInput"></label>
<br><br>
<label for="listing_HeightInput">Height<input type="text" id="listing_HeightInput" name="listing_HeightInput"></label>
<br><br>
<label for="listing_AreaInput">Area<input type="text" id="listing_AreaInput" name="listing_AreaInput"></label>
<br><br>
<label for="listing_LongitudeInput">Longitude<input type="text" id="listing_LongitudeInput" name="listing_LongitudeInput"></label>
<br><br>
<label for="listing_LatitudeInput">Latitude<input type="text" id="listing_LatitudeInput" name="listing_LatitudeInput"></label>
<br><br>
<label for="listing_AvailableStartInput">Available<input type="text" id="listing_AvailableStartInput" name="listing_AvailableStartInput"></label>
<br><br>
<label for="listing_AvailableEndInput">Available<input type="text" id="listing_AvailableEndInput" name="listing_AvailableEndInput"></label>
<input type="submit">
</form>