<h1>Add Listings Page</h1>
<form action="/add" method="POST" id="add_listing_form">
<label for="listing_description">Description<input type="text" id="listing_description" name="listing_description"></label>
<label for="listing_address">Address<input type="address" id="listing_address" name="listing_address"></label>
<label for="listing_price">Price<input type="text" id="listing_price" name="listing_price"></label>
<label for="listing_Length">Length<input type="text" id="listing_length" name="listing_length"></label>
<label for="listing_width">Width<input type="text" id="listing_width" name="listing_width"></label>
<label for="listing_height">Height<input type="text" id="listing_height" name="listing_height"></label>
<label for="listing_area">Area<input type="text" id="listing_area" name="listing_area"></label>
<label for="listing_Longitude">Longitude<input type="text" id="listing_longitude" name="listing_longitude"></label>
<label for="listing_latitude">Latitude<input type="text" id="listing_latitude" name="listing_latitude"></label>
<label for="listing_available">Available<input type="text" id="listing_available" name="listing_available"></label>
<input type="submit">
</form>