<h1>Booking Accepted! </h1>
<p>Your contact information was shared with the user requesting the booking! <br><br>
Thank you for using ShareSpace!<p>
<hr>
<br><br>
<a href="/homepage">Click here to go back to homepage</a>