<h1>Oops!</h1>

<div id="alreadyAuthenticated" class="authenticated-div hidden">
    {{#if authenticated}}
        <p>{{authenticated}}</p>
    {{/if}}
</div>

<div class="error-div hidden">
    {{#if error}}
        <p>{{error}}</p>
    {{/if}}
</div>
<br><br>
<h1><a href="/homepage">Go To Homepage</a></h1>
