<h1>Welcome to Share Space!</h1>
<br><br>

<div>
    <h2>{{message}}</h2>
    <h2><a href="/homepage">Click here to view all Listings!</a></h2>
</div>


<div class="landing-container">
<p> Already a user? <a class ="login-signup" href="/login">Login</a></p> 
<p> Here for the first time? <a class ="login-signup" href="/register">Register</a></p>
</div>