<h1>Welcome to Share Space!</h1>
<br><br>
<div id ="map"></div>
<script src="https://maps.googleapis.com/maps/api/js"></script>

<script type="module">

    if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 14,
              center: pos
            });
  
  var markerPositions = []
  
  let lat = null
  let longs = null
    {{#each listings}}
         lat = {{this.latitude }}
         longs = {{ this.longitude }}
        markerPositions.push ({position : {lat : lat, lng: longs } });

    {{/each}}

console.log("Makers = ", markerPositions)

  // Loop through the markerPositions array and create a marker for each set of coordinates
  for (var i = 0; i < markerPositions.length; i++) {
    var marker = new google.maps.Marker({
      position: markerPositions[i].position,
      map: map,
      icon: markerPositions[i].icon
    });
  }    
   }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          handleLocationError(false, infoWindow, map.getCenter());
        }
      

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        var errorDiv = document.createElement('div');
        errorDiv.innerHTML = "Error: The Geolocation service failed. Your browser doesn't support geolocation.";
        document.body.appendChild(errorDiv);
      }
</script>
<div>
    <h2>{{message}}</h2>
    <h2><a href="/homepage">Click here to view all Listings!</a></h2>
</div>


<div class="landing-container">
<p> Already a user? <a class ="login-signup" href="/login">Login</a></p> 
<p> Here for the first time? <a class ="login-signup" href="/register">Register</a></p>
</div>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9w7c6s9zaAOX2G2veo-nrwNZ0zZMCkHY&callback=initMap">
