<h1>Welcome to Share Space!</h1>

<div class="landing-container">
<p> Already a user? <a class ="login-signup" href="login">Login</a></p> 
<p> Here for the first time? <a class ="login-signup" href="register">Register</a></p>
</div>