<h1>New Message Page</h1>
<hr>

<h2>Sending Message to: <a href = "/users/{{messageTo.id}}">{{messageTo.name}}</a></h2>


<form action="/message/newMessage/{{messageTo.id}}" method="POST" id="new_message_form">
<label for="new_messageInput">Enter Your Message: <br><input type="text" class= "messageBox" id="new_messageInput" name="new_messageInput" required></label>
<br>
<input type="submit" class="message-submit-button">
</form>

<br><br>
