.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif
}

/* p {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
} */

a {
    font-family: Arial, Helvetica, sans-serif;
    color: #0072C6;
    text-decoration: none;
    font-weight: bold;
}

.individual-listings {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;
}

.addListing-form {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    background-color: rgb(240, 241, 241);
}

.submit-button {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

.error-div {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px red;
    background-color: rgb(226, 186, 186);
}

.authenticated-div {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px green;
    background-color: rgb(186, 226, 198);
}

#listingTable {
    table-layout: fixed;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
} 
#listingTable td, #listingTable th {
    table-layout: fixed;
    width: 180px;
    border: 1px solid #ddd;
    padding: 8px;
}
#listingTable tr:nth-child(even){background-color: #f1f1f1;}
#listingTable td:nth-child(odd){font-weight: bold;}
#listingTable tr:hover {background-color: #dae3f3;}

#userInformationTable {
    table-layout: fixed;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
} 
#userInformationTable td, #userInformationTable th {
    table-layout: fixed;
    width: 180px;
    border: 1px solid #ddd;
    padding: 8px;
}
#userInformationTable tr:nth-child(even){background-color: #f1f1f1;}
#userInformationTable td:nth-child(odd){font-weight: bold;}
#userInformationTable tr:hover {background-color: #dae3f3;}

#bookingTable {
    table-layout: fixed;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
} 
#bookingTable td{
    table-layout: fixed;
    width: 200px;
    border: 1px solid #ddd;
    padding: 8px;
}
#bookingTable th{
    background-color: #aacfff;
}
#bookingTable tr:nth-child(even){background-color: #f1f1f1;}
/* #bookingTable td:nth-child(odd){font-weight: bold;} */
#bookingTable tr:hover {background-color: #dae3f3;}



ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    flex: 1 0 20%; /* Change this to adjust the number of columns */
    padding: 1em;
  }
  img {
        max-width: 350px;
  }
  #profilePic{
      align-content: right;
  }
  #userInformationTableDiv {
      float: left;
      width: 70%;
  }
  .share-btn-container a i {
      font-size: 32px;
  }

  .share-btn-container a {
    margin: 12px 0;
    transition: 500ms;
}
.share-btn-container a:hover {
    transform: scale(1.2);
}
.share-btn-container .fa-facebook{
    color: #3b5998;
}
.share-btn-container .fa-whatsapp{
    color: #25d366;
}
.share-btn-container .fa-linkedin{
    color: #0077b5;
}

.userResponseForm{
    font-family: Arial, Helvetica, sans-serif;
}
.fa-edit {
    font-size: 20px;
}


.links {
    text-align: center;
}

.login-form{
    text-align: center;
}

.reviewAdded-fail {
    display:inline;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border: 2px red;
    background-color: rgb(226, 186, 186);
}

.reviewAdded-success {
    display:inline;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border: 2px green;
    background-color: rgb(186, 226, 198);
}


.logout {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #c61e00;
}